<footer>
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-md-5 text-left">
                    <div class="media">
                        <div class="media-left">
                            <img src="~/images/tts_logo.png" alt="TTS Logo" class="med-icon" />
                        </div>
                        <div class="media-body">
                            <a class="links" href="@Url.Action("Contact", "Home", new { id = "Edison" })"><h4>Edison</h4></a>
                            <b>Timings:</b> Sun 3 PM - 4:30 PM <br />
                            <b>Location:</b> Online<br />
                        </div>
                    </div>
                </div>
                <div class="col-md-3   text-left">
                        <h3>Quick Links</h3>
                        <ul class="link-list">
                            <li>
                                <i class="fa fa-newspaper-o fa-lg fa-blue" aria-hidden="true"></i>
                                @Html.ActionLink("News", "News", "Home")
                            </li>
                            <li>
                                <i class="fa fa-calendar-plus-o fa-lg fa-blue" aria-hidden="true"></i>
                                @Html.ActionLink("Events", "Events", "Home")
                            </li>
                            <li>
                                <i class="fa fa-picture-o fa-lg fa-blue" aria-hidden="true"></i>
                                @Html.ActionLink("Photo Galleries", "Photos", "Home")
                            </li>
                            <li>
                                <i class="fa fa-video-camera fa-lg fa-blue" aria-hidden="true"></i>
                                @Html.ActionLink("Video Albums", "Videos", "Home")
                            </li>
                        </ul>
                    </div>
                <div class="col-md-4 text-left">
                        <h3 class="text-nowrap">Interested in Volunteering ?</h3>
                        <p class="text-justify">We constantly need more volunteers to help us in various activities including teaching. If you are interested and want to be part of our team, please sign up using the link below.</p>
                        <a href="@Url.Action("VolunteersSignUp", "Home", null)" class="btn btn-primary" role="button">Please sign up ...</a>
                    </div>
                </div>
        </div>
        <hr class="divider">
        <div class="row">
            <div class="text-left col-md-8">
                <p class="small">Thiruvalluvar Tamil School. Copyright &copy; @DateTime.Now.Year All Rights reserved.</p>
            </div>
            <div class="col-md-4">
                <div class="pull-right">
                    <a href="https://www.facebook.com/Thiruvalluvar-Tamil-School-823250697708566" target="sm.fb">
                        <span class="fa-stack fa-lg fa-blue">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-facebook-f fa-stack-1x"></i>
                        </span></a>
                    <a href="https://www.youtube.com/channel/UCNTAyRT9Z3KhIFY_79l5pCQ" target="sm.yt">
                        <span class="fa-stack fa-lg fa-red">
                            <i class="fa fa-circle-thin fa-stack-2x"></i>
                            <i class="fa fa-youtube-play fa-stack-1x"></i>
                        </span></a>
                </div>
            </div>
        </div>
    </div>
</footer>