@model string[]

@{
    var location = ViewBag.Location;
    ViewBag.Title = "Calendar - " + location;
}

<h2>@ViewBag.Title</h2>
<h4>Academic Year 2018-19 will be updated soon.</h4>
<br />

<!--
<ul class="nav nav-tabs nav-bluetabs">
    <li class="@(string.Compare(location,"edison",true) == 0 ? "active" : "")">
        <a href="@Url.Action("Calendar", "Home", new { id = "Edison" })">Edison</a>
    </li>
    <li class="@(string.Compare(location,"parsippany",true) == 0 ? "active" : "")">
        <a href="@Url.Action("Calendar", "Home", new { id = "Parsippany" })">Parsippany</a>
    </li>
</ul>
<br/>

<div class="row">
    <div class="col-sm-6">
        <table class="table table-condensed">
            <thead>
                @{ 
                    var headerLine = Model[0];
                    var headerCells = headerLine.Split(',');
                    var weekNumberHeader = headerCells[1];
                    var dateHeader = headerCells[2];
                    var specialNotesHeader = headerCells[3];
                }
                <tr class="warning">
                    <th>@weekNumberHeader</th>
                    <th>@dateHeader</th>
                    <th>@specialNotesHeader</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lineItem in Model.Skip(1))
                {
                    var dataCells = lineItem.Split(',');
                    var style = dataCells[0];
                    if (style == "success")
                    {
                        <tr class="success">
                            <td colspan="3" class="text-center"><b>@dataCells[1]</b></td>
                        </tr>
                    }
                    else
                    {
                        var weekNumber = dataCells[1];
                        var date = dataCells[2];
                        var specialNotes = dataCells[3];
                        <tr class="@(style)">
                            <td>@weekNumber</td>
                            <td>@date</td>
                            <td>@specialNotes</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    <div class="hidden-xs hidden-sm hidden-md hidden-print col-sm-6">
        
    </div>
</div>
-->